:host {
    display: block;
    width: 286px;
    padding: 16px 16px 16px 5px;
}
.color-wrapper {
    display: flex;
    height: 200px;
}

.input-wrapper {
    margin-top: 5px;
    display: flex;
    border-radius: 1px;
    border: 1px solid rgb(220, 220, 220);
    padding: 8px;
    height: 32px;
    justify-content: center;
    width: 250px;
}

.color-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.text {
    flex: 1;
    font-family: 'Helvetica';
    line-height: 32px;
}

.square-picker {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    margin-bottom: 2px;
    margin-left: 5px;
    cursor: pointer;
}
