<div id="canvas-container">
    <canvas id="canvas" #baseCanvas oncontextmenu="return false"></canvas>
    <canvas id="previewLayer" #previewCanvas oncontextmenu="return false"></canvas>
    <app-grid class="grid"></app-grid>

    <button #rightGrabber [style.left.px]="0" [style.top.px]="0" id="right-grabber"></button>
    <button #bottomGrabber [style.left.px]="0" [style.top.px]="0" id="bottom-grabber"></button>
    <button #cornerGrabber [style.left.px]="0" [style.top.px]="0" id="corner-grabber"></button>

    <button #topLeft [style.left.px]="0" [style.top.px]="0" id="top-left"></button>
    <button #topRight [style.left.px]="0" [style.top.px]="0" id="top-right"></button>
    <button #topCenter [style.left.px]="0" [style.top.px]="0" id="top-center"></button>
    <button #leftCenter [style.left.px]="0" [style.top.px]="0" id="left-center"></button>
    <button #bottomLeft [style.left.px]="0" [style.top.px]="0" id="bottom-left"></button>
    <button #bottomRight [style.left.px]="0" [style.top.px]="0" id="bottom-right"></button>
    <button #bottomCenter [style.left.px]="0" [style.top.px]="0" id="bottom-center"></button>
    <button #rightCenter [style.left.px]="0" [style.top.px]="0" id="right-center"></button>
</div>
