$blue-graphite: #223b4b;
$night-blue-wiss: #191b43;
$material-blue: #4051b5;
$material-pink: #ff4180;

.horiz-center {
    background-color: $blue-graphite;
    display: block;
    margin: 0.5rem auto;
    margin-right: 5px;
    opacity: 1;
}

.button-undo-redo {
    background-color: #191b43;
    display: block;
    margin: 1rem auto;
    opacity: 1;
}

.horiz-center:hover {
    background-color: #a9a9a9;
}

.sidebar {
    overflow: scroll;
}

div {
    display: inline-block;
}
