.save-dialog {
    align-self: center;
    height: 400px;
    width: 455px;
}

.validation {
    border: 1px solid black;
    padding-left: 20px;
    width: 200px;
    height: 250px;
    float: left;
}

.regles {
    margin-top: 5px;
}

.margins {
    margin: 50px 12px 0 12px;
}

.float-left {
    float: left;
}

.spinner {
    float: left;
    margin-left: 20px;
}
.input {
    float: left;
    border: 1px solid black;
    width: 200px;
    margin-left: 10px;
    padding-left: 20px;
    height: 250px;
}
