.export-dialog {
    overflow-y: auto;
    width: 500px;
    min-height: 700px;
}
mat-button-toggle-group {
    margin-bottom: 1px;
    position: relative;
}

.preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 508px;
}
